<mat-card appearance="outlined">
  <mat-card-content>
    <ng-container *ngIf="teamsQuestions[indexTeamInAction()]() as question">
      {{ question.comments[question.step] || 'Програш' }}
    </ng-container>
  </mat-card-content>
  <mat-card-footer>
    <ng-container *ngFor="let option of teamsQuestions[indexTeamInAction()]().options">
      <button mat-raised-button color="warn" (click)="checkAnswer(indexTeamInAction(), option)">
        {{ option.videoName }}
      </button>
    </ng-container>
  </mat-card-footer>
</mat-card>
