.round-card {
  width: 100%;
  max-width: 600px;
  margin: 10px;
}

.qa-wrapper {
  width: 100%;
}

textarea[matInput] {
  min-height: 100px;
}

.actions {
  text-align: center;
  margin: 20px 0;
}

.actions button {
  margin: 0 10px;
}
