header {
  z-index: 999;
  position: sticky;
  top: 0;
}

mat-toolbar {
  height: auto;
  min-height: 80px;
}

.toolbar-wrapper, .game-score, .audio {
  display: flex;
  align-items: center;
}

.audio {
  flex-direction: column;
}

.toolbar-wrapper {
  width: 100%;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.quiz-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.round-card {
  width: 100%;
  max-width: 1200px;
  margin: 10px;
}

.actions {
  text-align: center;
  margin: 20px 0;
}

.actions button {
  margin: 0 10px;
}

.footer {
  .footer-actions-wrapper {
    button + button {
      margin-left: 16px;
    }
  }
}
