<header #header>
  <mat-toolbar color="primary">
    <div class="toolbar-wrapper">
      <span>Вікторина</span>
      <div class="audio">
        <audio controls>
          <source src="assets/audio/game_theme.mp3">
        </audio>
      </div>
      <div class="game-score">
        <span>Загальний рахунок:</span>
        <mat-list *ngIf="round() !== null">
          <mat-list-item *ngFor="let team of teamsList()">
            {{ team.name }}: {{ team.score }}
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-toolbar>

  <mat-toolbar *ngIf="round() !== null" color="accent" class="sub-toolbar">
    <span>Команда в грі: {{ teamInAction().name }}</span>
    <span class="spacer"></span>
    <span>Раунд: {{ currentRoundName() }}</span>
  </mat-toolbar>
</header>

<div class="quiz-container">
  <mat-card class="round-card">
    <mat-card-header>
      <mat-card-title>
        <ng-container *ngIf="round() !== null; else gameDoesNotStart">
          {{ currentRoundName() }}
        </ng-container>
        <ng-template #gameDoesNotStart>
          Виберіть назви для своїх команд та хто починає
        </ng-template>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-enter-team-names *ngIf="round() === null"></app-enter-team-names>
      <app-trick *ngIf="round() === roundName.Trick"></app-trick>
      <app-comments *ngIf="round() === roundName.Comments"></app-comments>
      <app-fifth-tenth *ngIf="round() === roundName.FifthTenth"></app-fifth-tenth>
      <app-alias *ngIf="round() === roundName.Alias"></app-alias>
    </mat-card-content>
  </mat-card>
</div>
