@use '@angular/material' as mat;

:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}


.category-card {
  cursor: pointer;
  &:hover {
    @include mat.elevation(3);
  }
}
